===================================================================
 Selamat datang di {{ ansible_hostname }}
 Server ini dikelola secara otomatis menggunakan Ansible.
 
 Project Name : {{ app_name }}
 Environment  : {{ environment_name }}
 Admin Contact: {{ admin_email }}
 Timezone     : {{ timezone }}
===================================================================
